table{
    width: auto;
}
.th{
    height:70px;
    font-weight: 700;
}
th, td {
  /* border-bottom: 1px solid #ddd; */
  font-family: 'montserrat';
  text-align: center;
  width: auto;
  line-height: 2;
}
.data-entry{
    height: 50;
}